.progressBarContainer{
    width: 80%;
    height: 10%;
    font-weight: 900;
    display: flex;
    justify-content: space-between; 

    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
    margin: 0 auto;

    z-index: 50;

}

.currentTime, .endTime{
    width: 10%;
    font-size: 15px;
    text-align: center;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    background-color: transparent;
}

.progressBar{
    width: 70%;
    height: 100%;
    border: 1px outset lightgray;
    background-image: linear-gradient(rgb(250, 250, 250),rgb(228, 228, 228));
}

.progressBarFill{
    background-image: linear-gradient(rgb(122, 162, 230),rgb(101, 188, 219));
    -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent,rgba(0,0,0,0.3));
    height: 100%;
}
