.progressBarContainer{
    width: 100%;
    height: 10%;
    font-size: 10px;
    font-weight: 900;
    /* border: 1px solid blue; */
    display: flex;
}

.currentTime{
    flex-grow: 1;
    text-align: center;
}

.progressBar{
    flex-grow: 30;
    border: 1px outset lightblue;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
}

.progressBarFill{
    background-color: lightblue;
    height: 100%;
}

.endTime{
    flex-grow: 1;
    text-align: center;
}