.ipodScreen {
    height: 50%;
    display: flex;
    padding: 10px;
}

.content {
    width: 95%;
    height: 95%;
    margin: auto auto;
    background-color: transparent;
    border-radius: 10px;
    border: 10px inset black;
    position: relative;
    overflow: hidden;
}