.IpodScreen{
    height: 45%;
    display: flex;
    padding: 10px;
}

.content{
    width: 95%;
    height: 90%;
    margin: auto auto;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
} 
