.app {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://www.idropnews.com/wp-content/uploads/2025/08/Apple-Product-Lineup-1000x600.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}