.app {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.appBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}