.AlbumCard{
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
    width: 50%;
    height: 70%;
    background-color: transparent;

    transform-style: preserve-3d;

    transition: transform 400ms ease-in-out;

    /* -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent,transparent,transparent,rgba(0,0,0,0.3)); */
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: inherit;
    transform-style: inherit;
    will-change: transform, height;
}

.front img{
    width: 100%;
    height: 100%;
}

.back{
    transform: rotateY(180deg);
    border: 1px solid rgb(91, 94, 114);
}

.flip{
    transform: rotateY(180deg) scale(1.7,1.2);
    height: 145%;
}


.albumInfo{
    width: 100%;
    height: 30%;
    font-size: 10px;
    padding: 5px;
    color: white;
    background-image: linear-gradient(rgb(48, 65, 118),rgb(68, 87, 143));
    border-bottom: 1px outset rgb(52, 99, 149);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.albumInfoName , .albumInfoArtist{
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.albumInfoName{
    text-transform: capitalize;
}

.albumInfoArtist{
    color: rgba(255,255,255,0.7)
}

.back ul{
    width: 100%;
    height: 70%;
    background-color: white;
    list-style: none;
    overflow: auto;
}

.back li span:first-child{
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
}

.back li{
   font-size: 10px;
   font-weight: 500;
   padding: 5px;
   display: flex;
   justify-content: space-between;
}

.selected{
    color: white;
    border-top: 1px outset rgb(75, 142, 213);
    border-bottom: 1px outset rgb(75, 142, 213);
    background-image: linear-gradient(rgb(93, 168, 231),rgb(48, 130, 219));
}
