.IpodButtons{
    height: 55%;
    display: flex;
    user-select: none; 
    /* check this ^^^^^^^ */
}

.wheel{
    background-color: white;
    width:220px;
    height: 220px;
    margin: auto auto;
    border-radius: 50%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* gap: 0.5rem; */
}

.menu{
    grid-column: 2 / 3;
}

.backward{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.ok{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: linear-gradient(rgb(193, 193, 193),rgb(230, 230, 230));
    border-radius: 50%;
}

.forward{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.playPause{
    grid-column: 2 / 3;
}

.wheel button{
     background-color: transparent;
     outline: none;
     border: none;
     color: rgb(172, 175, 190);
}
